
  .carousel-control-sm {
    height: 40px;
    width: 40px;
    top: 30%;
  }

  .carousel-control-sm .carousel-control-prev-icon,
  .carousel-control-sm .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }
